* {
  box-sizing: border-box;
}

.white-text {
  color: #ffffff;
}

ul.nav__ul {
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

ul.nav__ul>li {
  margin-right: 10px;
  display: block;
  border: 3px solid;
  border-radius: 3px;
  border-color: transparent;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway Regular';
}

ul.nav__ul>li>a {
  padding: 10px 20px 10px 20px;
  display: block;
  color: #ffffff;
  text-decoration: none;
}

ul.nav__ul>li:hover {
  border-color: #ffffff;
  transition: all 0.2s ease 0.1s;
}

.cube {
  width: 40px;
  height: 40px;
  background-color: blueviolet;
  /* background-color: #ffffff; */
  animation-duration: 1s;
  animation-name: show;
}

ul.list-projects,
ul.list-contacts {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}

.project-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-preview-img {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  border-radius: 5px;
}

.project-preview-img>a {
  text-decoration: none;
}

.project-preview-img .project-preview-link {
  opacity: 0;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease-in 0s;
}

.project-preview-img:hover .project-preview-link {
  /* visibility: visible; */
  opacity: 1;
  transition: 0.3s ease-in 0s;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.top {
  justify-content: flex-start;
}

.contact-photo {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: blueviolet;
}

.contact-info {
  text-align: center;
}

aside>header {
  display: flex;
  justify-content: space-between;
}

.close {
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 24px;
  color: white;
}

.project-info {
  padding: 10px 20px;
  display: flex;
}

.project-info span {
  padding: 20px 10px;
  display: block;
  flex: 10;
}

.project-info details {
  padding: 10px 20px;
  min-width: 300px;
  max-width: 300px;
  flex: 2;
}

.project-info details ul {
  list-style: none;
}

@media screen and (max-device-width: 1000px) {
  .project-info {
    display: block;
  }
}

.overlay {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* @media screen 
  and (min-device-width: 300px)
  and (max-device-width: 813px)
{
  .latest-projects {
      flex-direction: column;
  }
  nav > h1 {
      display: block;
      text-align: center;
      color: #ffffff;
  }
  nav {
      background: #000000;
  }
  ul.nav__ul {
       display: none; 
      flex-direction: column;
  }
  nav ul.nav__ul {
      display: flex;
      flex-direction: column;
      transition: all 0.2s ease 0.1s;
  } 
}
*/